name: Auto Labeler

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  label:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .github/scripts

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run labeler script
        id: labeler
        run: ./labeler.js